<!DOCTYPE html>
<html>
  <head>
    <title>EComm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/login_information' %>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
